.wrapper
  = render 'shared/side_bar'
  .main
    .main__top
      .main__top--name
        kawayan
      = link_to edit_group_path(@group) do
        %input{type: "submit", value: "Edit", class: "main__top--edit"}
      .main__top--member
        Member: kawayan 仮免太郎
    .messages    
      = render @messages

    .main__footer
      .inputbox
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'inputbox__message', placeholder: 'type a message'
          .mask
            = f.label :image, class: 'mask__label' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'mask__label--image'
          = f.submit 'Send', class: 'sendmessage'
