.wrapper
  = render 'shared/side_bar'
  .main
    .main__top
      .main__top--group-name
        = @group.name
      = link_to edit_group_path(@group) do
        %input{type: "submit", value: "Edit", class: "main__top--edit"}
      .member-box
        .member-box__member
          Member :
        .member-box__members
          - @group.users.each do |member|
            = member.name 
            
    .messages{data: {group_id: "#{@group.id}"}}
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        .inputbox
          .inputbox__message
            = f.text_field :content, class: 'inputbox__message--field', placeholder: 'type a message'
            .mask
              = f.label :image, class: 'mask__label' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'mask__label--image'
          = f.submit 'Send', class: 'sendmessage'
