.main
  .main__top
    .main__top--name
      kawayan
    = link_to edit_group_path(current_user) do
      %input{type: "submit", value: "Edit", class: "main__top--edit"}
    .main__top--member
      Member: kawayan 仮免太郎
  .main__message
    .main__message--name
      kawayan
    .main__message--date
      2019/10/18(Fri) 21:11:35
    .main__message--text
      こんばんは
  .main__footer
    .inputbox
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'inputbox__message', placeholder: 'type a message'
        .mask
          = f.label :image, class: 'mask__label' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'mask__label--image'
        = f.submit 'Send', class: 'sendmessage'
